<form id="individual-form" [formGroup]="registerSoloForm" (ngSubmit)="registerSolo()">
  <div class="container-fluid mt-div" id="formular-ind">
    <div class="rect-path">
      <h1>Înscriere individuala</h1>
      <div style="text-align: left">
        <div class="form-group">
          <label for="secondName">*Nume:</label>
          <input formControlName="lastName" type="text" name="Nume" class="form-control" id="secondName"
                 placeholder="Popescu">
        </div>
        <div class="form-group">
          <label for="firstName">*Prenume:</label>
          <input formControlName="firstName" type="text" name="Prenume" class="form-control" id="firstName"
                 placeholder="Ion">
        </div>
        <div class="form-group">
          <label for="phone">*Număr de telefon:</label>
          <input formControlName="phone" type="tel" name="Telefon" class="form-control" id="phone"
                 placeholder="0712345678">
        </div>
        <div class="form-group">
          <label for="college">*Facultate:</label>
          <input formControlName="university" type="text" name="Facultate" class="form-control" id="college"
                 placeholder="Automatica si Calculatoare">
        </div>
        <div class="form-group">
          <label for="facebookLink">Link către profilul de Facebook:</label>
          <input formControlName="facebookLink" type="text" name="Facebook" class="form-control" id="facebookLink">
        </div>
        <div class="form-group">
          <label for="withFriend">Dorești să fii în echipă cu altă persoană?<br/>Dacă da, completează numele
            complet.</label>
          <input formControlName="preferredTeammate" type="text" name="Prieten" class="form-control" id="withFriend">
        </div>
      </div>
      <button id="btn-send-form" type="submit">Trimite</button>
      <div *ngIf="registerSuccess">Te-ai înregistrat!</div>
      <div *ngIf="registerError">A apărut o eroare, te rog încearcă mai târziu.</div>
    </div>
  </div>
</form>
