<section class="container" style="margin-top: 100px;">
  <table *ngIf="contactMessages" class="table rect-path">
    <tr>
      <th>Nr.</th>
      <th>Echipa</th>
      <th>Telefon</th>
      <th>Mesaj</th>
    </tr>
    <tr *ngFor="let contactMessage of contactMessages; let i = index">
      <td>{{i}}</td>
      <td>{{contactMessage.payload.doc.data().team}}</td>
      <td>{{contactMessage.payload.doc.data().phone}}</td>
      <td>{{contactMessage.payload.doc.data().message}}</td>
    </tr>
  </table>
</section>
