<div id="register-team-page-container">
  <div class="container text-left" id="titlu"><h1>Înscriere cu echipa</h1></div>
  <form id="group-form" [formGroup]="registerTeamForm" (ngSubmit)="registerTeam()">
    <div class="container mt-div">
      <div class="row mb-4">
        <div class="col-sm-2 text-sm-right"><label for="team-name" class="col-form-label">*Numele echipei:</label></div>
        <div class="col-sm-4"><input formControlName="teamName" name="Nume Echipa" type="text" class="form-control" id="team-name" required></div>
      </div>
      <div class="row mx-1 mx-sm-0">
        <div class="col-sm-4 rect-path mb-4 mb-sm-0" formGroupName="member1">
          <h4 class="text-center">Membru</h4>
          <div class="form-group">
            <label for="secondName1">*Nume:</label>
            <input formControlName="lastName" type="text" name="Nume1" class="form-control" id="secondName1" placeholder="Popescu" required>
          </div>
          <div class="form-group">
            <label for="firstName1">*Prenume:</label>
            <input formControlName="firstName" type="text" name="Prenume1" class="form-control" id="firstName1" placeholder="Ion" required>
          </div>
          <div class="form-group">
            <label for="phone1">*Număr de telefon:</label>
            <input formControlName="phone" type="tel" name="Telefon1" class="form-control" id="phone1" placeholder="0712345678" required>
          </div>
          <div class="form-group">
            <label for="college1">*Facultate:</label>
            <input formControlName="university" type="text" name="Facultate1" class="form-control" id="college1"
                   placeholder="Automatica si Calculatoare" required>
          </div>
          <div class="form-group">
            <label for="facebookLink1">Link către profilul de Facebook:</label>
            <input formControlName="facebookLink" type="text" name="Facebook1" class="form-control" id="facebookLink1">
          </div>
        </div>

        <div class="col-sm-4 rect-path mb-4 mb-sm-0" formGroupName="member2">
          <h4 class="text-center">Membru</h4>
          <div class="form-group">
            <label for="secondName2">*Nume:</label>
            <input formControlName="lastName" type="text" name="Nume2" class="form-control" id="secondName2" placeholder="Popescu" required>
          </div>
          <div class="form-group">
            <label for="firstName2">*Prenume:</label>
            <input formControlName="firstName" type="text" name="Prenume2" class="form-control" id="firstName2" placeholder="Ion" required>
          </div>
          <div class="form-group">
            <label for="phone2">*Număr de telefon:</label>
            <input formControlName="phone" type="tel" name="Telefon2" class="form-control" id="phone2" placeholder="0712345678" required>
          </div>
          <div class="form-group">
            <label for="college2">*Facultate:</label>
            <input formControlName="university" type="text" name="Facultate2" class="form-control" id="college2"
                   placeholder="Automatica si Calculatoare" required>
          </div>
          <div class="form-group">
            <label for="facebookLink2">Link către profilul de Facebook:</label>
            <input formControlName="facebookLink" type="text" name="Facebook2" class="form-control" id="facebookLink2">
          </div>
        </div>

        <div class="col-sm-4 rect-path mb-4 mb-sm-0" formGroupName="member3">
          <h4 class="text-center">Membru</h4>
          <div class="form-group">
            <label for="secondName3">*Nume:</label>
            <input formControlName="lastName" type="text" name="Nume3" class="form-control" id="secondName3" placeholder="Popescu" required>
          </div>
          <div class="form-group">
            <label for="firstName3">*Prenume:</label>
            <input formControlName="firstName" type="text" name="Prenume3" class="form-control" id="firstName3" placeholder="Ion" required>
          </div>
          <div class="form-group">
            <label for="phone3">*Număr de telefon:</label>
            <input formControlName="phone" type="tel" name="Telefon3" class="form-control" id="phone3" placeholder="0712345678" required>
          </div>
          <div class="form-group">
            <label for="college3">*Facultate:</label>
            <input formControlName="university" type="text" name="Facultate3" class="form-control" id="college3"
                   placeholder="Automatica si Calculatoare" required>
          </div>
          <div class="form-group">
            <label for="facebookLink3">Link către profilul de Facebook:</label>
            <input formControlName="facebookLink" type="text" name="Facebook3" class="form-control" id="facebookLink3">
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center my-5">
      <button id="btn-send-form" style="border: none;">Trimite</button>
    </div>
    <div class="container text-center my-5" *ngIf="registerSuccess">
      Echipa a fost inregistrata!
    </div>
    <div class="container text-center my-5" *ngIf="registerError">
      A apărut o eroare, te rog încearcă mai târziu.
    </div>
  </form>
</div>
