<section class="container" style="margin-top: 100px;">
  <table *ngIf="participants" class="table rect-path">
    <tr>
      <th>Nr.</th>
      <th>Echipa</th>
      <th>Nume</th>
      <th>Prenume</th>
      <th>Telefon</th>
      <th>Facultate</th>
      <th>Facebook</th>
      <th>Prieten</th>
    </tr>
    <tr *ngFor="let participants of participants; let i = index">
      <td>{{i}}</td>
      <td>{{participants.payload.doc.data().team}}</td>
      <td>{{participants.payload.doc.data().lastName}}</td>
      <td>{{participants.payload.doc.data().firstName}}</td>
      <td>{{participants.payload.doc.data().phone}}</td>
      <td>{{participants.payload.doc.data().university}}</td>
      <td>{{participants.payload.doc.data().facebookLink}}</td>
      <td>{{participants.payload.doc.data().preferredTeammate}}</td>
    </tr>
  </table>
</section>
