/*
    Copyright: Liga Studentilor de la Automatica si Calculatoare, 2018
    Event: Treasure Hunt Bucharest 2018
*/

/*  Home page  */

#home {
  padding-bottom: 10vw;
}

#logo_leplace {
  margin: auto;
  cursor: pointer;
}

.logo-th {
  height: 100%;
  width: 100%;
}

.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: no-repeat scroll center;
  text-align: center;
}

#intro-video-laptop {
  margin-top: 4vw;
  margin-left: 2vw;
  border: 4px solid #603813;
  border-radius: 10px;
}

#intro-video-mobile {
  display: none;
  margin-top: 4vw;
  margin-left: 2vw;
  margin-bottom: 6vw;
  border: 4px solid #603813;
  border-radius: 10px;
}

#descriere-event {
  margin-top: -7vh;
  text-align: justify;
  padding: 8px 8px;
  border-radius: 15px;
  border: 5px dashed #603813;
}

#row-inscriere {
  margin-bottom: 12vw;
}
/*  Inscriere  */
#inscriere {
  margin-top: 8vw;
  margin-bottom: 10vh;
}

#btn-reg-indiv {
  font-size: 1em;
  font-weight: 500;
  background: transparent url("../../../assets/inscriere/buton_inscriere_individuala.svg") no-repeat scroll 0 3px;
  background-size: 100% auto;
  text-decoration: none;
  color: #603813;
  padding: 25px 35px 45px;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

#btn-reg-indiv:hover {
  background: url("../../../assets/inscriere/buton_inscriere_individuala_hover.svg") no-repeat scroll 0 1px;
  background-size: 100% auto;
}

#btn-reg-echipa {
  font-size: 1em;
  font-weight: 500;
  background: url("../../../assets/inscriere/buton_inscriere_echipa.svg") no-repeat scroll 0 3px;
  background-size: 100% auto;
  text-decoration: none;
  color: #603813;
  padding: 25px 35px 45px;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

#btn-reg-echipa:hover {
  background: url("../../../assets/inscriere/buton_inscriere_echipa_hover.svg") no-repeat scroll 0 1px;
  background-size: 100% auto;
}

#buton-inscriere {
  font-size: 1.4em;
  font-weight: 500;
  background: url("../../../assets/inscriere/buton_inscriere.svg") no-repeat scroll 0 0 transparent;
  background-size: 100% auto;
  text-decoration: none;
  color: #603813;
  padding: 22px;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

#buton-inscriere:hover {
  background: url("../../../assets/inscriere/buton_inscriere_hover.svg") no-repeat scroll 0 0 transparent;
  background-size: 100% auto;
}

/*  Ghid  */
#titlu-ghid {
  font-size: 1.2em;
}

#ghid {
  margin-top: 10vw;
  margin-bottom: 2vh;
  padding-bottom: 1vh;
}


#btn-ghid {
  font-size: 1.2em;
  font-weight: 500;
  background: url("../../../assets/buton_universal.svg") no-repeat scroll 0 5px;
  background-size: 100% auto;
  text-decoration: none;
  color: #603813;
  padding: 25px;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

#btn-ghid:hover {
  background: url("../../../assets/buton_universal_hover.svg") no-repeat scroll 0 3px;
  background-size: 100% auto;
}

/*  Parteners  */
#parteneri {
  margin-top: 8vw;
}
/* Contact */
#contact {
  margin-top: 5vw;
}

#btn-send-contact {
  font-size: 1.2em;
  font-weight: 500;
  background: url("../../../assets/inscriere/buton_inscriere.svg") no-repeat scroll 0 1px;
  background-size: 100% auto;
  text-decoration: none;
  border: none;
  color: #603813;
  padding: 15px 25px;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

#btn-send-contact:hover {
  background: url("../../../assets/inscriere/buton_inscriere_hover.svg") no-repeat scroll 0 0px;
  background-size: 100% auto;
}

/*  Media Queries  */
@media (min-width: 992px) {
  .masthead {
    text-align: left;
    height: auto;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .masthead {
    min-height: 300px;
    height: auto;
  }
}
@media (max-width: 992px) {
  #row-inscriere {
    margin-bottom: 0.8vw;
  }
}

@media (max-width : 576px) {
  body {
    background: #e5e5e5 url("../../../assets/mobile/fundal_complet3.svg") no-repeat;
    background-size: 100% auto;
    font-family: "Open Sans", sans-serif;
    color: #603813;
  }

  #intro-video-laptop {
    display: none;
  }

  #intro-video-mobile {
    display: block;
  }

  #img-harta {
    height: 100%;
    width: 100%;
  }
}

/*--------Utils----------*/
