<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="http://lsacbucuresti.ro">
      <img id="logoLsac" class="logo-lsac" src="../../../assets/logoLsacMono.svg" alt="Lsac Bucuresti"/>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation" (click)="toggleCollapsed()">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="changeSection('welcome')">Acasă</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeSection('register')">Înscrie-te!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeSection('guide')">Ghidul Participantului</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeSection('partners')">Parteneri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeSection('contact')">Contact</a>
        </li>
<!--       DOAR ADMINISTRATIV, NU FA DEPLOY CU ASTEA DECOMENTATE -->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" [routerLink]="'/contactMessages'">Mesaje primite</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" [routerLink]="'/participants'">Participanti</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
