.rect-path {
  background: rgba(205, 163, 79, 0.7);
  padding: 10px 24px;
  border-radius: 15px;
  border: 7px dashed #603813;
}

.table td {
  vertical-align: inherit !important;
}

table.table {
  max-width: 600px;
}

section {
  display: flex;
  justify-content: center;
}
